<html>
  <head>
    <meta content='FuriKuris Blog' property='og:title' />
    <title>FuriKuris Blog</title>
    <link href='/images/fav.png' rel='shortcut icon'>
    <link href='/assets/global.css' rel='stylesheet' type='text/css' />
    <link href='/assets/style.css' rel='stylesheet' type='text/css' />
    <link href='/assets/responsive.css' rel='stylesheet' type='text/css' />
    <!-- - -->
    <meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport'>
    <meta content='text/html; charset=utf-8' http-equiv='content-type' />
    <meta content='http://furikuri.github.io' property='og:url' />
    <meta content="FuriKuri's blog" property='og:description' />
    <meta content="blog" property="og:type" />
  </head>
  <body>
    <header class="site-header">
      <div class="container">
        <nav>
          <a href="/" class="{% if page.url == '/' %} active{% endif %}">Home</a>
          <a href="/projects" class="{% if page.url == '/projects/' %} active{% endif %}">Projects</a>
          <a href="/about" class="{% if page.url == '/about/' %} active{% endif %}">
          <span>About</span> Me
          </a>
          <a href="/impressum" class="{% if page.url == '/impressum/' %} active{% endif %}">Impressum</a>
        </nav>
        <h1>404 <span class="muted">Not found.</span></h1>
      </div>
    </header>
    <div class="container">
      TBD; Put something funny here
    </div>
    <footer class="site-footer">
      <div class="container">
        The theme of this blog is open sourced <a href="https://github.com/muan/muan.github.com" target="_blank" id="repo">on GitHub</a> by <a href="https://twitter.com/muanchiou" target="_blank" id="twitter">@muanchiou</a>.
      </div>
    </footer>
  </body>
</html>
